
.ce_control {
    display: flex;
    justify-content: center;
}

.search_bar {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

#ce_search_input {
    width: 300px;
    height: 30px;
    text-align: center;
}

#ce_search_button {
    width: 56px;
    height: 37px;
}

.add_bar {
    padding-top: 1rem;
    margin-top: 1rem;
}

#ce_add_button {
    height: 37px;
}

#ce_empty {
    text-align: center;
    color: red;
    font-weight: bold;
}